$headingFont: 'Bree Serif';
$subHeadingFont:'Rancho';
$textFont: 'Open Sans';
$smallTextFont: 'Gudea';

$defaultLineHeight: 32px;
$defaultFontWeight: 300;

$ease: all 0.5s;

$smoothGrey: rgb(68, 68, 68);
$lightGrey: rgb(83, 83, 91);