@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
///
.menuButton{

	margin-right: 2px;

}
.listImage{
	height: 50%;
	width: 50%;
}
// .listImage:hover{
// 	opacity: 0.5;
// }

.arrows{
	font-size: 50px;
}
.arrows:hover{
	font-size: 100px;
}

#viewNav{
	margin-top: 10px;
	margin-bottom: 25px;
}

#detailsWrapper{
	// background-color: grey;
}
.viewNavOptions{
	padding-left: 10px;
	padding-right: 10px;

}
#movieTitle{
	margin-top:50px;
}
#buttonCollumn{
	margin-bottom: 20px;
}


///animations

// .listDiv{
// 	background-color: grey;
// }
////////////////
// .icon:hover{
// 	font-color: red;
// }
.mainLogo{

	width: 70px;
	height: 55px;
	transition: $ease;
}

#rightBefore{
	margin-bottom: 27px;
}

header{
	width: 100%;
	height: 100%;
	background: url("../data/pics/spices.jpg");
	background-attachment:fixed;
	background-position: center center;
	background-size: cover;
}

#wikiButton{
	background-color: #af0606;
}
#wikiButton:hover{
	background-color: #333333;
}


#dynamicText{
	color: white;
	font-size: 28px;
	margin-top: 40%;
}

.title{
	color: #af0606;//#555555;//rgb(46, 59, 78);
	// font-size: 28px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 100px;
	font-family: $headingFont;
	margin-bottom: 20px;
}


.subTitle {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	// font-size: 19px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 5px;
	font-family: $subHeadingFont;
	margin-bottom: 60px;
}

.imageWrapper {
	width: 100px;
	height: 220px;
	margin: 20px auto 0px;
	position: relative;
}
.imageWrapper img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.imageWrapper #iphoneLogo {
	position: absolute;
	top: 80px;
	left: 30px;
	width: 40px;
	height: 30px;
}

#imageWrapper2 {
	width: 200px;
}

#imageWrapper3 {
	width: 100px;
	// border: solid blue;
}

#imageWrapper3 h3 {
	position: absolute;
	top: 30px;
	left: 2px;
	font-size: 12px;
}

#dynamicReviewWrapper{
	position: absolute;
	width: 80px;
	top: 60px;
	left: 10px;
	font-size: 8px;
	font-family: $menuFonts;
}
#imageWrapper3 #dynamicReviewWrapper h4 {
	font-size: 8px;
}

#missionSubtitle {
	// font-size: 19px;
	color: rgb(46, 59, 78);
	font-family: $menuFonts;
}

.employeeName {
	color: rgb(46, 59, 78);
	text-align: center;
	position: relative;
	font-size: 20px;
	line-height: $defaultLineHeight;
	font-weight: $defaultFontWeight;
	margin-top: 5px;
	font-family: $menuFonts;
}

.employeePicture {
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	// border: solid red;
}

@media only screen and (min-width: 40.063em) {
	
	.employeePicture {
		width: 200px;
		height: 200px;
	
	}
}



.employeePicture:hover{
	@include animation(spin,1s,"");

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }



#iconWrapper {
	position: relative;
	width: 300px;
	height: 100px;
}

.icon {
	width: 24%;
	height: 100%;
	position: relative;
	float: left;
}

.icon .fa{

	font-size: 50px;
}

.icon .fa:hover{

	font-size: 75px;
	color: #af0606;

}

#chefImage{
	// border: solid red;
	margin: 0 auto 0 auto;
}
#myBlockQuote{
	font-family: $menuFonts;
}
#myBlockQuote i{
	font-size: 10px;
}
#meetTheTeam{
	// margin-bottom: 125px;
}
#teamTitle{
	// margin-top: 50px;
}

#restrauntTitle{
	margin-top: 75px;
}
#videoSection{
	margin-bottom: 20px;
}

#videoSubTitle{
	margin-bottom: 20px;
}

.footer {
  background-color: #af0606;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  i {
    font-size: 100px;
    margin-bottom: 20px;
  }
}

.footer {
  h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 300; 
    font-size: .8rem;
  }
}


@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
     min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .5rem;
  }
}
