@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

.menuButton{

	margin-right: 2px;


}

.listImage{
	height: 50%;
	width: 50%;
}

.listDiv{
	// border: solid grey;
	// padding-top: 100px;
	// padding-bottom: 10px;
	// margin-bottom: 10px;
}