<div class="row">

	<div class="small-4 columns">
		<!-- fkrkmfkmrkfmk -->
	</div>

	<div class="small-8 columns">
			
		<div class="row">
			<div class="small-12 columns">
				<h1>Inception is the right</h1>
				<h1>Rank:67</h1>
			</div>
		</div>

		<div class="row">
			<div class="small-4 columns">
				<img class="listImage" src="data/images/{{imdbID}}.jpg" >
			</div>
			<div class="small-8 columns">
				<h6>rfjenkjrnfjernfkjrekjferkfkrefkerfkjkrfkjernernfkjnerj</h6>
				<h6>ejfnjkrnfkjrnjkfnrjkfnkjrnfknfjnrfnkjrfkrrkjfnjkrnfjknrf</h6>
				<h6>erfejrbfjrfjrkje</h6>
				<h6>erfejrbfjrfjrkje</h6>
				<h6>erfejrbfjrfjrkje</h6>
			</div>
		</div>
					
	</div>

	<div class="small-4 columns">
		<!-- krkmfkmrkfmk -->
	</div>

</div>

<!-- TBD: detail view for <span>{{movie}}</span> -->