<div class="row">

	<!-- <div class="small-4 columns">
		fdd
	</div> -->

	<div class="small-12 columns">
			
		<div class="row">
			<div class="small-12 columns">
				
				<ul>
					<li ng-repeat="movie in movies | filter: imdbID">
						<a href= "#/movies/{{ movies[ (movie.rank-2) ].imdbID }}">  
							<i class="fa fa-arrow-circle-left arrows"></i>
						</a> 
						<a href= "#/movies/{{ movies[ (movie.rank) ].imdbID }}">  
							<i class="fa fa-arrow-circle-right arrows right"></i>
						</a>
						<h3 class="text-center">{{movie.title}}</h3>
						<h3 class="text-center">Rank: {{movie.rank}}</h3>
					</li>
				</ul>	
			</div>
		</div>

		<div class="row">
			<div class="small-4 columns">
				<img class="listImage" src="data/images/{{imdbID}}.jpg" >
			</div>
			<div class="small-8 columns">
				<ul>
					<li ng-repeat="movie in movies | filter: imdbID">
						<h6>{{movie.plot}}</h6>
						<h6>ReleaseDate: {{movie.released}}</h6>
						<h6>Runtime: {{movie.runtime}}</h6>
						<h6>Awards: {{movie.awards}}</h6>
					</li>
				</ul>
			</div>
		</div>
					
	</div>

	<!-- <div class="small-4 columns">
		
	</div> -->

</div>

<!-- TBD: detail view for <span>{{movie}}</span> -->