


<div class="small-12 columns">  
             
   <ul class="small-block-grid-1">
                       
        <li ng-repeat="movie in courseInfo | filter: inputValue | orderBy: $parent.orderProp : $root.reverse" class="listDiv">
                            
            <div class="row">

                  <div class="small-4 columns">
                    <a href="#/movies/{{movie.imdbID}}">             
                    <img class="listImage" src="data/images/{{movie.imdbID}}.jpg" >
                    </a>
                  </div>

                  <div class="small-8 columns">
                                      
                      <h6> {{movie.title}} </h2>
                      <h6> Rank: {{movie.rank}} </h1>
                      <!-- {{$root.reverse}} -->

                  </div>

            </div>
                            
        </li>
                    
    </ul>
                               
</div>

