
<div class="row text-center"> 

        <div class="small-8 small-centered columns text-center" >
              
              <form>

                <fieldset>

                  <div class="row">
                      <div class="small-12 columns text">
                        Search:<input type="text" ng-model="inputValue"/>
                      </div>
                  </div>
                  
                  <div class="row">
                     
                      <div class="small-12 columns" >
                        Sort by:
                          <select ng-model="orderProp" >
                            <option value="title">Title</option>
                            <option value="rank">Rank</option>
                          </select>
                      </div>

                  </div>
                  
          
                  <div class="row">

                      <div class="small-12 column stext-center">
                          <!-- <label>OrderBy</label> -->
                          <input type="radio" name="order" id="ascending" checked="checked" ng-click="setFalse()"><label for="ascending">Ascending</label>
                          <input type="radio" name="order" id="descending"ng-click="setTrue()"><label for="descending">Descending</label> <!-- {{$root.reverse}} -->
                      </div>

                  </div>


                </fieldset>

              </form>
        </div>
<div class="small-8 small-centered columns">  
             
   <ul class="small-block-grid-1">
                       
        <li ng-repeat="movie in courseInfo | filter: inputValue | orderBy: orderProp : reverse" class="listDiv movie-listing">
                
            <div class="row">

                  <div class="small-4 columns">
                    <a href="#/movies/{{movie.imdbID}}">             
                    <img class="listImage" src="data/images/{{movie.imdbID}}.jpg" >
                    </a>
                  </div>

                  <div class="small-8 columns">
                                      
                      <h6> {{movie.title}} </h2>
                      <h6> Rank: {{movie.rank}} </h1>
                      

                  </div>

            </div>
                            
        </li>
                    
    </ul>
                               
</div>

